.table {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.tr {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.header {
    background-color: var(--black);
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 1.1rem;
}

.th {
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.row {
    background-color: var(--white);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    // @media all and (max-width: 767px) {}
}

.td {
    width: calc(100%/3);
}